body{
    background-color: #ff7f50;
}
#container{
    background-color: cadetblue;
    border: 5px solid #ff7f50;
    height: 250px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
#btn{
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: aliceblue;
}
#output{
    margin: 25px auto;
    font-size: 20px;
}

